@import "~css-star-rating/scss/star-rating";

html,
body {
  height: 100%;
}
body {
  margin: 20px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

span {
  display: flex;
  flex-direction: row;
}

// I'd create mixins and variables files
.w-100 {
  width: 100%;
}
